extends layout

block content
  span#output 1, 2, 3
  .container
    #canvas-container
      canvas#canvas-element

  script(src="/components/three.js/build/three.min.js")
  script(src="/javascripts/threeDee.js")
  script(src="/javascripts/classes.js")
  script(src="/javascripts/index.js")
